body {
    background-color: #2A5C30;
    animation: fade 1s ease-in-out;
}

.cardapio-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
    
}